<div class="bar-content">
    <div class="content_center">
        <div class="mo_breadcrumb">
            <div class="chart has-fixed-height" id="basic_area"></div>
        </div>
    </div>
</div>
<?php $this->Html->scriptStart(array('inline' => false, 'domReady' => true, 'requires'=>array('jquery','mooOrder'), 'object' => array('$', 'mooOrder'))); ?>
mooOrder.initOnViewLog('<?php echo $json_time ?>','<?php echo $json_viewer ?>');
<?php $this->Html->scriptEnd(); ?> 
<style>
    .table-responsive table thead tr th{
        background-color: #43abde !important;
    }
</style>
   