<script>
$(document).ready(function(){
	$('#createButton').click(function(){
        disableButton('createButton');
        $(".error-message").hide();
		$.post("<?php echo $this->request->base?>/admin/users/create_user", $("#createForm").serialize(), function(data){
			enableButton('createButton');
			if (data.indexOf('mooError') > 0) {
                $(".error-message").html(data);
                $(".error-message").show();
            } else {
            	window.location = "<?php echo $this->request->base?>/admin/users";
            }
		});
        
		return false;
	});
});

</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><?php echo __('Create New User');?></h4>
</div>
<div class="modal-body">
<form id="createForm" class="form-horizontal" role="form">
    <div class="form-body">
        <div class="form-group">
            <label class="col-md-3 control-label"><?php echo __('Full Name');?></label>
            <div class="col-md-9">
                <?php echo $this->Form->text('name', array('placeholder'=>__('Full Name'),'class'=>'form-control')); ?>
            </div>           
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"><?php echo __('Email Address');?></label>
            <div class="col-md-9">
                <?php echo $this->Form->text('email', array('placeholder'=>__('Email Address'),'class'=>'form-control')); ?>
            </div>           
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"><?php echo __('Password');?></label>
            <div class="col-md-9">
                <?php echo $this->Form->text('password', array('type'=>'password','placeholder'=>__('Password'),'class'=>'form-control')); ?>
            </div>           
        </div>
        <?php if($cuser['Role']['is_admin']): ?>
        <div class="form-group">
            <label class="col-md-3 control-label"><?php echo __('Sale');?></label>
            <div class="col-md-9">
                <?php echo $this->Form->select('user_create', $list_sale, array('class'=>'form-control','empty'=>true)); ?>
            </div>           
        </div>
        <?php else: ?>
            <?php echo $this->Form->hidden('user_create', array('value' => $cuser['id'])); ?>
        <?php endif; ?>
    </div>
</form>
    <div class="alert alert-danger error-message" style="display:none;margin-top:10px;">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal"><?php echo __('Close')?></button>
    <a href="#" id="createButton" class="btn btn-action"><?php echo __('Save')?></a>

</div>